.gamecontainer {
  width: 100%;
  max-width: 22rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  z-index: 2;
  min-height: 100vh;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.flex1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-squared-default {
  width: 60px !important;
  height: 60px !important;
  font-size: 10px;
}

.btn-squared-default:hover {
  border: 1px solid white;
  font-weight: 800;
}
